
#p{
    color: #030303;
    FF; */
    font-size: 15px;
	margin-left: 25px;
	line-height: 28px;
}
#top{
	    color: #000000;
    font-size: 20px;
    font-weight: bold;
	margin-left: 15px;
	margin-top: -20px;
	margin-bottom: -15px;
    
}

#aka{
	color: #F6080C;
}

#1{
	margin-top: -20px;
}
