#midasi{
background-color:#dcdcdc;
border-radius: 20px;      /* ŠpŠÛ‚Ìw’è */
border: 1px black solid;  /* ˜gü‚ğˆø‚­ */
border-radius: 20px;      /* ŠpŠÛ‚Ìw’è */

margin: 20px 20px;
padding:15px;
width:150px;
text-align:center;
vertical-align:middle;
display:block;
vertical-align:middle;
}

#1{
	margin-top: -20px;
}